.preahvihear-regular {
  font-family: "Preahvihear", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ruluko-regular {
  font-family: "Ruluko", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.coda-extrabold {
  font-family: "Coda", system-ui;
  font-weight: 500;
  font-style: normal;
}
